<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('Error')}"></head>
<body>
<!-- NAVBAR -->
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas')}"></nav>

<div class="container">                                                                                        
    <h1>I CANNOT RESPOND YOUR REQUEST</h1>

    <div th:insert="~{/fragments/resources :: errorDetails}"></div>

    <div class="d-flex justify-content-center mb-4" style="height:600px">
      <img src="https://cdn2.vectorstock.com/i/1000x1000/13/96/gloomy-face-slice-pizza-cartoon-with-404-boards-vector-35431396.jpg" alt="Pizza not found" class="h-100">
    </div>

    <div class="d-flex justify-content-center">
       <a th:href="@{/}" class="btn btn-primary">Go back to home</a>
    </div>

</div>
</body>
</html>