<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('Show')}"></head>
<body>
<!--NAVBAR-->
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas')}"></nav>

<!--MAIN-->
    <div class="container" th:object="${pizza}">
        <!--Messaggio-->
        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show mt-4">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
<!-- TITOLO -->
        <h1 class="text-center text-danger fw-bolder text-decoration-underline pt-4" th:text="*{name}"></h1>

        <div class="d-flex justify-content-center pt-2">
            <a th:href="@{/pizzas}" class="text-primary-emphasis fw-semibold fs-5"><-- Back to results</a>
        </div>
<!--    CARD PIZZA -->
        <div class="d-flex justify-content-center">
            <div class="card text-bg-dark w-75 my-5">
                <img th:src="*{imageURL}" alt="pizzaIMG" class="card-img h-100">
                <div class="card-img-overlay">
                    <div class="bg-dark p-3 bg-opacity-75 rounded-5">
                        <h3 class="card-title fw-bold text-success" th:text="*{name}"></h3>
                        <p class="card-text fw-semibold fs-4" th:text="*{description}"></p>
                        <p class="card-text text-danger fw-semibold fs-5" th:text="'Prezzo: ' + *{price} + ' €'"><small></small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offerte attive -->
        <section>
            <h2>Offerte Attive
                <a th:href="@{/offers/create(pizzaId=*{id})}">
                    <i class="fa-solid fa-circle-plus"></i>
                </a>
            </h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Data di Inizio</th>
                    <th>Data di Fine</th>
                    <th>Titolo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offer : *{offers}" th:object="${offer}">
                    <td th:text="*{startDate}"></td>
                    <td th:text="*{endDate}"></td>
                    <td th:text="*{title}"></td>
                    <td>
                        <a
                            class="btn btn-primary"
                            th:href="@{/offers/edit/{id}(id=*{id})}" title="edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:if="*{offers.size() == 0}" class="alert alert-info">Non ci sono offerte</div>
        </section>
    </div>
</body>
</html>