<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: headResources('Show')}"></head>
<body>
<nav th:replace="~{/fragments/navbar :: topNavbar('pizzas')}"></nav>
    <div class="container" th:object="${pizza}">
        <h1 class="text-center text-danger fw-bolder text-decoration-underline pt-4" th:text="*{name}"></h1>

        <div class="d-flex justify-content-center">
            <div class="card text-bg-dark w-75 my-5" style="height:700px">
                <img th:src="*{imageURL}" alt="pizzaIMG" class="card-img h-100">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>